{
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", {"runtime": "automatic"}]
    ], 
    "plugins": [
        ["file-loader", {
          "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
          "publicPath": "/dist",
          "outputPath": "/dist/static",
          "context": "/src"
        }]
      ]
 }