body {
	margin: 0;
	height: 100%;
}

#ARLogo {
	width: 50%;
}

.home-page {
	flex-grow: 1;
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
}

#home-content {
	position: absolute;
	padding-top: 10rem;
}

#home-bg {
	opacity: 0.5;
	width: 100vw;
}

/* .home-background {
	background-image: url('./images/sky.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100vh - 75px);
} */

.tab-label {
	font-family: 'Alegreya', serif;
	font-size: large;
}

.tabs {
	width: 100%;
	padding-top: 2rem;
}

#homeText {
	/* font-family: 'Courgette', cursive; */
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#wave-emoji {
	max-height: 8rem;
	padding-top: 8rem;
}

#ash-photo {
	max-width: 420px;
}

.overview {
	padding-top: 5px;
}

.project-page {
	font-size: large;
	padding-left: 5px;
	padding-right: 5px;
}

.project-page h1 {
	font-family: 'Alegreya', serif;
}

.project-page p {
	font-family: 'Raleway', sans-serif;
}

.project-card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.project-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card-content {
	font-family: 'Raleway', sans-serif;
}

.popup {
	position: fixed;
	bottom: 0;
	right: 0;
	top: unset;
	left: unset;
}

/* #project-gallery:has(div:hover) div:not(:hover) {
    scale: .8;
} */

/* #background {
    background-image: url('./images/iphone3.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
} */

.demo-vid {
	max-width: 100%;
	margin: 0;
}

.hoverable {
	transition: transform 1.5s all;
	padding-top: 2rem;
}

.hoverable:hover {
	transform: scale(2);
	right: 50%;
	top: 50%;
	position: relative;
}

.tech-used {
	width: 100%;
}

.user-image {
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 100%;
	max-height: 30vh;
}

.icon {
	width: 50px;
	height: 50px;
}

.project-card .icon {
	width: 30px;
	height: 30px;
}

/* .tech-item {
	display: flex;
	text-align: center;
} */

.card {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
	position: relative;
}

.user-points {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1rem;
}

.bullet-points {
	margin: 0;
}

.user-points h4 {
	margin: 0;
}

.rnd-text {
	background-color: black;
	color: white;
}

.user-info {
	font-size: 70%;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f5efe6;
	position: absolute;
	top: 80%;
	left: 10%;
	width: 80%;
	text-align: center;
}

.user-info p {
	margin: 0.25rem;
}

.logo {
	display: inline-flex;
	flex-wrap: wrap;
	padding-top: 5px;
}

.project-logo {
	display: flex;
	justify-content: center;
}

#BCITWayFinding-logo {
	background-color: #151c47;
}

#SotBy-logo {
	background-color: #ded7cd;
}

#Hangado-logo {
	background-color: #f28b0c;
}

#ChatBot-logo {
	background-color: #853666;
}

.project-logo img {
	max-width: 100%;
	height: 7rem;
}

.challenges h1 {
	margin-top: 0%;
}
.challenges p {
	margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
	#homeText {
		font-size: x-small;
	}
	.logo {
		width: 20vw;
	}
	.project-logo img {
		max-width: 100%;
		height: 4rem;
	}
	.user-card {
		flex-direction: column;
	}
	.user-image {
		max-height: fit-content;
	}
	.user-info {
		width: 60%;
		left: 20%;
	}
	.home-page {
		padding-top: 0rem;
		font-size: small;
	}
	#wave-emoji {
		max-height: 5rem;
		padding-top: 0rem;
	}
	#ash-photo {
		max-width: 90vw;
	}
	#home-content {
		padding-top: 0rem;
	}
	.tab-label {
		font-size: small;
	}
	.tabs {
		padding-top: 0px;
	}
}
