body {
	margin: 0;
	height: 100%;
}

.app {
	display: flex;
	justify-content: center;
}

.app__content {
	width: 1080px;
}

.app__body {
	font-family: 'Raleway', sans-serif;
}

.app__bar {
	width: 100vw;
}

.app__body__panel {
	min-height: calc(100vh - 80px);
}

.app__bar__tabs {
	padding-top: 2rem;
}

.app__bar__tabs__label {
	font-family: 'Alegreya', serif;
	font-size: large;
}

.home-view {
	padding-top: 10rem;
	text-align: center;
}

.home__photo {
	max-width: 420px;
}

#home__text__wave-emoji {
	max-height: 8rem;
	padding-top: 8rem;
}

.about-view {
	height: 100%;
}

.about__circular-progress {
	padding-right: 4rem;
}

.pishi {
	width: 100%;
	border-radius: 10%;
}

.click-to-show {
	color: #0000ee;
}

.download-button {
	background-color: white;
	border: 3px solid black;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.overview {
	padding-top: 5px;
}

.project-page {
	font-size: large;
	padding-left: 5px;
	padding-right: 5px;
}

.project-page h1 {
	font-family: 'Alegreya', serif;
}

.project-page p {
	font-family: 'Raleway', sans-serif;
}

.project-card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.project-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card__content {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #f4f0e8;
}

.project-card__content h2:last-of-type {
	margin-bottom: 0;
}

.project-card__feature-item {
	margin-top: 0.5rem;
}
.project-card__tech-used {
	position: relative;
}

.project__banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100;
}

.popup {
	position: fixed;
	bottom: 0;
	right: 0;
	top: unset;
	left: unset;
}

.demo-vid {
	max-width: 100%;
	margin: 0;
}

.hoverable {
	transition: transform 1.5s all;
	padding-top: 2rem;
}

.hoverable:hover {
	transform: scale(2);
	right: 50%;
	top: 50%;
	position: relative;
}

.tech-item {
	display: flex;
	align-items: center;
	padding-top: 0.75rem;
}

.tech-used {
	width: 100%;
}

.user-image {
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 100%;
	max-height: 30vh;
}

.icon {
	width: 50px;
	height: 50px;
}

.project-card .icon {
	width: 30px;
	height: 30px;
	padding-right: 0.25rem;
}

.card {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
	position: relative;
}

.user-points {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1rem;
}

.bullet-points {
	margin: 0;
}

.user-points h4 {
	margin: 0;
}

.rnd-text {
	background-color: black;
	color: white;
}

.user-info {
	font-size: 70%;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f5efe6;
	position: absolute;
	top: 80%;
	left: 10%;
	width: 80%;
	text-align: center;
}

.user-info p {
	margin: 0.25rem;
}

#BCITWayFinding-banner {
	background-color: #003c71;
}

#SotBy-banner {
	background-color: #66806a;
}

#Hangado-banner {
	background-color: #73777b;
}

#ChatBot-banner {
	background-color: #ffdb89;
}

.project-card__banner__img {
	max-width: 100%;
	height: 6rem;
}

.challenges h1 {
	margin-top: 0%;
}
.challenges p {
	margin: 0.5rem;
}

.socials {
	position: fixed;
	bottom: 0;
}

@media only screen and (max-width: 600px) {
	.app__bar__tabs__label {
		font-size: small;
	}
	.app__bar__tabs {
		padding-top: 0px;
	}
	.app__bar__logo {
		width: 15vw;
	}
	.home-view {
		padding-top: 2rem;
		font-size: small;
	}
	.home__photo {
		max-width: 90vw;
	}
	#home__text__wave-emoji {
		max-height: 5rem;
		padding-top: 0rem;
	}
	.about__circular-progress {
		padding-right: 0rem;
	}
	.socials {
		padding-left: 20vw;
		position: relative;
		bottom: 0;
	}
	.project__banner__img {
		max-width: 100%;
		height: 4rem;
	}
	.user-card {
		flex-direction: column;
	}
	.user-image {
		max-height: fit-content;
	}
	.user-info {
		width: 60%;
		left: 20%;
	}
}
