body {
	margin: 0;
}

#ARLogo {
	width: 50%;
}

#homeText {
	font-family: 'Courgette', cursive;
}

/* #project-gallery:has(div:hover) div:not(:hover) {
    scale: .8;
} */

/* #background {
    background-image: url('./images/iphone3.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
} */

.demo-vid {
	max-width: 100%;
	margin: 0;
}

.hoverable {
	transition: transform 1.5s all;
	margin: 0 auto;
}

.hoverable:hover {
	transform: scale(2);
	right: 60%;
	top: 30%;
	position: relative;
}

.tech-used {
	width: 100%;
}

.user-image {
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 100%;
	max-height: 30vh;
}

.icon {
	width: 50px;
	height: 50px;
}

.tech-item {
	display: flex;
	text-align: left;
}

.card {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
	position: relative;
}

.user-points {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1rem;
}

.bullet-points {
	margin: 0;
}

.user-points h4 {
	margin: 0;
}

.rnd-text {
	background-color: black;
	color: white;
}

.user-info {
	font-size: 70%;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: whitesmoke;
	position: absolute;
	top: 75%;
	left: 10%;
	width: 80%;
}

.logo {
	display: inline-flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	#homeText {
		font-size: x-small;
	}
	.logo {
		width: 20vw;
	}
}
